
.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body {
  margin: 0;
  overflow-y: hidden;
  overflow: hidden;
  background: #512da8;
  font-family: 'Roboto', 'Helvetica', 'Arial', Sans-Serif;
  font-weight: 300;
  color: white;
  cursor: default !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.plane {
  transform-origin: 100% 0;
  transform: rotateX(40deg) rotate(45deg) translate(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  transform-style: preserve-3d;
}
.plane.mid {
  transform-origin: 100% 50%;
  transform: rotateX(40deg) rotate(45deg) translate(-10vmax);
}

header {
  background: rgba(255, 255, 255, 0.125);
  min-width: 600px;
  height: 280px;
  max-height: 50vw;  /* 140px max */
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 20px;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 280px;
  transform: rotate(-90deg) translateY(50%);
  transform-origin: 0 100%;
  font-size: 20px;
  line-height: 28px;
}

.menu a {
  display: block;
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.menu a:focus {
  outline: 0;
  background: rgba(255, 255, 255, 0.125);
}

.menu h1 {
  padding: 8px 16px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.125);
}

gem-board {
  font-size: 32px;
}

.player {
  transform-style: preserve-3d;
  transform: translateZ(-32px);
  transition: transform 1s cubic-bezier(0.130, 0.410, 0.470, 1.165);
  will-change: transform;
}
.player.offscreen {
  transform: translateZ(-32px) translateX(-100vw);
}
.player.fade {
  transform-style: preserve-3d;
  transition: transform 2s ease-in, opacity 2s ease-in;
  transform: translateZ(-10000px);
}

.player h2 {
  background: rgba(0, 0, 0, 0.125);
  text-align: center;
  margin: 8px 0;
  border-radius: 12px;
  font-size: 20px;
  line-height: 32px;
  transform-origin: 0 100%;
  transform: rotateX(-60deg);
}